:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


.header {
    width: 100%;
    height: 10%;
    text-align: center;
    margin-bottom: 5%;
}
.gameBoard{
    display: flex;
    flex-wrap: wrap;
    width: 495px;
    height: 480px;
}

.gameBoard > div {
    border: solid 2px black;
    width: 160px;
    height: 160px;
    font-size: 11rem;
    text-align: center;
    
}
.gameBoard > div:hover {
    cursor: pointer;
} 

#box0{
    margin: 0%;
border-top: none;
border-left: none;


}


#box1{
    border-top: none;
}


#box2{
    border-right: none;
    border-top: none;
}


#box3{
    border-left: none;
}

#box5 {
    border-right: none;
}

#box6 {
    border-left: none;
    border-bottom: none;
}


#box7 {
    
    border-bottom: none;
}


#box8 {
    
    border-bottom: none;
    border-right: none;
}